.app {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .app-logo {
    animation: App-logo-spin infinite 40s linear;
  }
}

.app-header {
  min-height: 25vh;
  font-size: calc(10px + 2vmin);
}

@media screen and (max-width: 960px) {
  .app-header {
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 1600px) {
  .app-header {
    margin-bottom: 4rem;
  }
}
  

.app-logo, .js-logo, .bs-logo {
  height: 20vmin;
}

.ts-logo, .ng-logo, .os-logo {
  height: 17vmin;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

/* Light mode styles */
.light-mode {
  background-color: white;
  color: #282c34;
}

/* Dark mode styles */
.dark-mode {
  background-color: #282c34;
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
